[submodule "
"]
	path = ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "lib/ordered-map"]
	path = lib/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "lib/parser"]
	path = lib/parser
	url = https://github.com/mavka-ukr/parser
