.idea/
out/
build/
vgcore.*
/*.so
/*.ll
tmp/
releases/
/привіт_розширення.м
/привіт_розширення.ц
/build.sh
/run.sh
/тест.м
/тест_обслуговувач.м
/тест_планувальник.м
.releasegpgkey
.releasegpgkeypassphrase