.idea/
out/
build/
vgcore.*
/*.so
/*.ll
tmp/
releases/
/привіт_розширення.м
/привіт_розширення.ц
/run.sh
/тест.м
/тест_обслуговувач.м
/тест_планувальник.м
.releasegpgkey
.releasegpgkeypassphrase
паки/
/розширення
будування/
випуски/
.vscode