/.idea/
/node_modules/
/.паки/
/test.js
/тест.м
/.хмарні_паки
/.розширення
build/
build-bin/
build-node/
build-web/
build-Obin/
build-Onode/
build-Oweb/
cmake-build-debug/
gen/
test.js
тест.м
head.h
тест.js
node_modules/
.паки/